<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<!-- <servlet/> 과 <servlet-mapping/>에서의 </servlet-name> 은 동일해야한다. --> 
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- servlet-class는 개발자에 의해 작성된 실제 클래스 이름이다.(여기서는 Spring에서 맹근 DispatcherServlet을 사용하는 것이다.  -->
		<!-- 이녀석을 front controller 로 맹글 것이다. -->
		<init-param>
			<param-name>contextClass</param-name>
			<!-- IoC 실습하면서 Bean공장같은 거 있어야 해요 그런거 입니다. -->
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- WebMvcContextConfiguration 에서 설정한 config를 여기에 클래스로 등록한다는 의미 -->
			<param-value>kr.or.connect.mvcexam.config.WebMvcContextConfiguration</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<!-- 스펠링 틀렸다고 경고 뜨는데 개무시하도록 하자 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
